<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- Latest compiled and minified CSS -->
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/photography.html">Photography</a></li>
	        		<li><a href="/Digital Media">Digital Media</a></li>
	        		<li><a href="/Paint">Paint</a></li>
	        		<li><a href="/Shop">Shop</a></li>
	        		<li><a href="/About">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:medageda@ualberta.ca">email</a></li>
	        		<li><a href="https://github.com/kasunblue">github.com/kasunblue</a></li>
				</ul>
			</footer>
		</body>
	</html>
